.home {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-left: -17px;
  min-width: 102%;
  min-height: 100%;
  width: 30%;
  height: 20%;
  z-index: -1;
  object-fit: cover;
}

.main-content {
  display: flex;
  align-items: center;
}

.main-image {
  position: absolute;
  top: 0px;
  left: 100vh;
  width: 100%;
}

@media only screen and (max-width: 375px) {
  .main-image {
    /* Adjusting styles for standard mobile here */
    top: 0;
    left: 0;
    width: 100%;
  }
}

h1 {
  color: #ffffff;
  white-space: pre-wrap;
  text-align: left;
  margin-left: 70px;
  margin-top: 108px;
  font-size: 45px;
  font-family: var(--font-family-commissioner);
  font-weight: 700;
  scale: 1.2;
}

h3 {
  color: #ffffff;
  white-space: pre-wrap;
  text-align: left;
  margin-left: 48px;
  margin-top: -510px;
  font-family: var(--font-family-red-hat-text);
  font-weight: 500;
  scale: 1.1;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  padding-left: 23px;
  padding-bottom: 15px;
}

h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 92.3%;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

h4 {
  color: #ffffff;
  white-space: pre-wrap;
  text-align: right;
  margin-left: 241px;
  margin-top: 385px;
  font-size: 25px;
  font-family: var(--font-family-victor-mono);
  font-weight: 100;
  scale: 0.9;
}

.overlay-image {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.overlay-image:hover {
  transform: scale(1.1);
}

.L1 {
  top: 74px;
  left: 99vh;
}

.L2 {
  top: 233px;
  left: 103vh;
}

.L3 {
  top: 365px;
  left: 116vh;
}

.L4 {
  top: 472px;
  left: 137vh;
}

.L5 {
  top: 506px;
  left: 173vh;
}

.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%;
  height: 7%;
}

.modal-close-button {
  background-color: transparent;
  color: #000;
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.5s ease;
  border: 1 px solid #042c54;
  border-radius: 10px;
  margin-left: 75vh;
  margin-top: 1vh;
  position: relative;
  z-index: 1000;
}

.modal-text {
  position: relative;
  top: -7.5vh;
  left: 0vh;
  font-size: 1.2em;
}

.modal-close-button:hover {
  color: white;
  background-color: #042c54;
}
