body {
  width: 100vw;
  overflow-x: hidden !important;
  text-align: center;
}


.custom-slider .slick-prev:before,
.custom-slider .slick-next:before {
  color: #ffd500 !important;
}

.custom-slider .slick-prev {
  top: 40px;
  z-index: 1;
  left: 90%;
}

.custom-slider .slick-next {
  top: 40px;
  z-index: 1;
  left: 95%;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
  opacity: 1 !important;
}

.slick-dots li button:before {
  color: #fff !important
}

.unique-slider .slick-prev,
.unique-slider .slick-next {

  opacity: 0 !important;
}


.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 12%, rgba(234, 179, 8, 1) 50%);
}